[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
rps_game = "pPYPJwpeo16rTvhJNdX4wGs2DzX7fUPpFQKo9AzMt3E"

[programs.devnet]
rps_game = "pPYPJwpeo16rTvhJNdX4wGs2DzX7fUPpFQKo9AzMt3E"

[programs.mainnet]
rps_game = "pPYPJwpeo16rTvhJNdX4wGs2DzX7fUPpFQKo9AzMt3E"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000   # wait 10 seconds for local validator to boot
